*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #000000, #0a0a23, #001f3f, #003366, #004080);
    display: grid;
    place-items: center;
}
.game-info,.btn{
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
    border: rgba(255, 255, 255, .25) 1px solid;
    padding: .5rem 3rem;
    border-radius: 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
}
.tic-tac-toe{
    background-color: rgba(255, 255, 255, .15);
    border: rgba(255, 255, 255, .25) 1px solid;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}
.tic-tac-toe .box{
    position: relative;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    visibility: hidden;
}
.btn.active{
    visibility: visible;
}
.win{
    background-color: rgba(0, 255, 0, .3);
    /* background-color: #3182e5; */
}
.player{
    font-size: 1.5rem;
    font-weight: 600;
}
.box1, .box2, .box4, .box5{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.box3, .box6{
    border-bottom: 2px solid #fff;
}
.box7, .box8{
    border-right: 2px solid #fff;
}